<form #miFormulario="ngForm" (submit)="crearConsulta()">
  <label for="Libro">Libro:</label>
  <input type="text" id="libro" name="libro" [(ngModel)]="libro" required>

  <label for="capitulo">Capitulo:</label>
  <input type="text" id="capitulo" name="capitulo" [(ngModel)]="capitulo" required>

  <label for="versiculo">Versiculo:</label>
  <input type="text" id="versiculo" name="versiculo" [(ngModel)]="versiculo" required>

  <label for="texto">Texto:</label>
  <input type="text" id="texto" name="texto" [(ngModel)]="texto">

  <!-- Otros campos del formulario -->

  <button type="submit">Guardar</button>
</form>